[core]
  editor = nvim
  ignorecase = false
  excludesfile = ~/.gitignore
# BEGIN desktop
#[user]
#  email = daniel@daniel-pieper.com
#	name = Daniel Pieper
# END desktop
# BEGIN work
#[user]
#  email = daniel.pieper@oneclick-cloud.com
#	name = Daniel Pieper
# END work
