mc/.config/mc/panels.ini
composer/.config/composer/*
!composer/.config/composer/composer.json
composer/.composer/*
!composer/.composer/composer.json
kitty/.config/kitty/cached.json
fonts/.fonts/.uuid
nvim/.config/nvim/autoload/plug.vim.old
.DS_Store
