{
  "snippets.ultisnips.directories": [
    "UltiSnips"
  ],
  "diagnostic.displayByAle": true,
  "codeLens.enable": true,
  "diagnostic.errorSign": "x",
  "diagnostic.infoSign": "~",
  "suggest.timeout": 5000,
  "coc.preferences.formatOnType": true
}
